In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import fetch_openml

#Note: data has 3 classes
penguins = fetch_openml(name='penguins')

#load data and targets
data = penguins.data
targets = penguins.target

# create dataframe for penguins by concatenating data and targets
data_df = pd.DataFrame(data, columns=penguins.feature_names)
display(data_df)
targets_df = pd.DataFrame(targets, columns=penguins.target_names)
penguins_df = pd.concat([data_df, targets_df],axis='columns')

# drop instances with NaN values
penguins_df.dropna(inplace=True, axis=0)
display(penguins_df)

#Seperate features and targets
X = penguins_df[penguins.feature_names]
y = penguins_df[penguins.target_names]

X

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,2.0,39.1,18.7,181.0,3750.0,2.0
1,2.0,39.5,17.4,186.0,3800.0,1.0
2,2.0,40.3,18.0,195.0,3250.0,1.0
3,2.0,NaN,NaN,NaN,NaN,NaN
4,2.0,36.7,19.3,193.0,3450.0,1.0
...,...,...,...,...,...,...
339,0.0,NaN,NaN,NaN,NaN,NaN
340,0.0,46.8,14.3,215.0,4850.0,1.0
341,0.0,50.4,15.7,222.0,5750.0,2.0
342,0.0,45.2,14.8,212.0,5200.0,1.0
343,0.0,49.9,16.1,213.0,5400.0,2.0

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,species
0,2.0,39.1,18.7,181.0,3750.0,2.0,Adelie
1,2.0,39.5,17.4,186.0,3800.0,1.0,Adelie
2,2.0,40.3,18.0,195.0,3250.0,1.0,Adelie
4,2.0,36.7,19.3,193.0,3450.0,1.0,Adelie
5,2.0,39.3,20.6,190.0,3650.0,2.0,Adelie
...,...,...,...,...,...,...,...
338,0.0,47.2,13.7,214.0,4925.0,1.0,Gentoo
340,0.0,46.8,14.3,215.0,4850.0,1.0,Gentoo
341,0.0,50.4,15.7,222.0,5750.0,2.0,Gentoo
342,0.0,45.2,14.8,212.0,5200.0,1.0,Gentoo
343,0.0,49.9,16.1,213.0,5400.0,2.0,Gentoo

,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,2.0,39.1,18.7,181.0,3750.0,2.0
1,2.0,39.5,17.4,186.0,3800.0,1.0
2,2.0,40.3,18.0,195.0,3250.0,1.0
4,2.0,36.7,19.3,193.0,3450.0,1.0
5,2.0,39.3,20.6,190.0,3650.0,2.0
...,...,...,...,...,...,...
338,0.0,47.2,13.7,214.0,4925.0,1.0
340,0.0,46.8,14.3,215.0,4850.0,1.0
341,0.0,50.4,15.7,222.0,5750.0,2.0
342,0.0,45.2,14.8,212.0,5200.0,1.0
343,0.0,49.9,16.1,213.0,5400.0,2.0

In [60]:
#Encode discrete categorical values for Species

y = pd.get_dummies(y)

y

     species_Adelie  species_Chinstrap  species_Gentoo
0                 1                  0               0
1                 1                  0               0
2                 1                  0               0
4                 1                  0               0
5                 1                  0               0
..              ...                ...             ...
338               0                  0               1
340               0                  0               1
341               0                  0               1
342               0                  0               1
343               0                  0               1

[334 rows x 3 columns]

In [72]:
#2 classes:
credit = fetch_openml(name='credit-g')

data = credit.data
targets = credit.target

credit

# create dataframe for penguins by concatenating data and targets
data_df = pd.DataFrame(data, columns=credit.feature_names)
display(data_df)
targets_df = pd.DataFrame(targets, columns=credit.target_names)
credit_df = pd.concat([data_df, targets_df],axis='columns')

# drop instances with NaN values
credit_df.dropna(inplace=True, axis=0)
display(credit_df)

#Seperate features and targets
X = credit_df[credit.feature_names]
y = credit_df[credit.target_names]

X

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,0.0,6.0,4.0,3.0,1169.0,4.0,4.0,4.0,2.0,0.0,4.0,0.0,67.0,2.0,1.0,2.0,2.0,1.0,1.0,0.0
1,1.0,48.0,2.0,3.0,5951.0,0.0,2.0,2.0,1.0,0.0,2.0,0.0,22.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0
2,3.0,12.0,4.0,6.0,2096.0,0.0,3.0,2.0,2.0,0.0,3.0,0.0,49.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0
3,0.0,42.0,2.0,2.0,7882.0,0.0,3.0,2.0,2.0,2.0,4.0,1.0,45.0,2.0,2.0,1.0,2.0,2.0,0.0,0.0
4,0.0,24.0,3.0,0.0,4870.0,0.0,2.0,3.0,2.0,0.0,4.0,3.0,53.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,12.0,2.0,2.0,1736.0,0.0,3.0,3.0,1.0,0.0,4.0,0.0,31.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0
996,0.0,30.0,2.0,1.0,3857.0,0.0,2.0,4.0,0.0,0.0,4.0,1.0,40.0,2.0,1.0,1.0,3.0,1.0,1.0,0.0
997,3.0,12.0,2.0,3.0,804.0,0.0,4.0,4.0,2.0,0.0,4.0,2.0,38.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0
998,0.0,45.0,2.0,3.0,1845.0,0.0,2.0,4.0,2.0,0.0,4.0,3.0,23.0,2.0,2.0,1.0,2.0,1.0,1.0,0.0
999,1.0,45.0,4.0,1.0,4576.0,1.0,0.0,3.0,2.0,0.0,4.0,2.0,27.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,0.0,6.0,4.0,3.0,1169.0,4.0,4.0,4.0,2.0,0.0,...,0.0,67.0,2.0,1.0,2.0,2.0,1.0,1.0,0.0,good
1,1.0,48.0,2.0,3.0,5951.0,0.0,2.0,2.0,1.0,0.0,...,0.0,22.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,bad
2,3.0,12.0,4.0,6.0,2096.0,0.0,3.0,2.0,2.0,0.0,...,0.0,49.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0,good
3,0.0,42.0,2.0,2.0,7882.0,0.0,3.0,2.0,2.0,2.0,...,1.0,45.0,2.0,2.0,1.0,2.0,2.0,0.0,0.0,good
4,0.0,24.0,3.0,0.0,4870.0,0.0,2.0,3.0,2.0,0.0,...,3.0,53.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,12.0,2.0,2.0,1736.0,0.0,3.0,3.0,1.0,0.0,...,0.0,31.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,good
996,0.0,30.0,2.0,1.0,3857.0,0.0,2.0,4.0,0.0,0.0,...,1.0,40.0,2.0,1.0,1.0,3.0,1.0,1.0,0.0,good
997,3.0,12.0,2.0,3.0,804.0,0.0,4.0,4.0,2.0,0.0,...,2.0,38.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,good
998,0.0,45.0,2.0,3.0,1845.0,0.0,2.0,4.0,2.0,0.0,...,3.0,23.0,2.0,2.0,1.0,2.0,1.0,1.0,0.0,bad
999,1.0,45.0,4.0,1.0,4576.0,1.0,0.0,3.0,2.0,0.0,...,2.0,27.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0,good

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,0.0,6.0,4.0,3.0,1169.0,4.0,4.0,4.0,2.0,0.0,4.0,0.0,67.0,2.0,1.0,2.0,2.0,1.0,1.0,0.0
1,1.0,48.0,2.0,3.0,5951.0,0.0,2.0,2.0,1.0,0.0,2.0,0.0,22.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0
2,3.0,12.0,4.0,6.0,2096.0,0.0,3.0,2.0,2.0,0.0,3.0,0.0,49.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0
3,0.0,42.0,2.0,2.0,7882.0,0.0,3.0,2.0,2.0,2.0,4.0,1.0,45.0,2.0,2.0,1.0,2.0,2.0,0.0,0.0
4,0.0,24.0,3.0,0.0,4870.0,0.0,2.0,3.0,2.0,0.0,4.0,3.0,53.0,2.0,2.0,2.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,12.0,2.0,2.0,1736.0,0.0,3.0,3.0,1.0,0.0,4.0,0.0,31.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0
996,0.0,30.0,2.0,1.0,3857.0,0.0,2.0,4.0,0.0,0.0,4.0,1.0,40.0,2.0,1.0,1.0,3.0,1.0,1.0,0.0
997,3.0,12.0,2.0,3.0,804.0,0.0,4.0,4.0,2.0,0.0,4.0,2.0,38.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0
998,0.0,45.0,2.0,3.0,1845.0,0.0,2.0,4.0,2.0,0.0,4.0,3.0,23.0,2.0,2.0,1.0,2.0,1.0,1.0,0.0
999,1.0,45.0,4.0,1.0,4576.0,1.0,0.0,3.0,2.0,0.0,4.0,2.0,27.0,2.0,1.0,1.0,2.0,1.0,0.0,0.0

In [73]:
#4 classes
vehicle = fetch_openml(name='vehicle', version = 1)

data = vehicle.data
targets = vehicle.target


# create dataframe for penguins by concatenating data and targets
data_df = pd.DataFrame(data, columns=vehicle.feature_names)
display(data_df)
targets_df = pd.DataFrame(targets, columns=vehicle.target_names)
vehicle_df = pd.concat([data_df, targets_df],axis='columns')

# drop instances with NaN values
vehicle_df.dropna(inplace=True, axis=0)
display(vehicle_df)

#Seperate features and targets
X = vehicle_df[vehicle.feature_names]
y = vehicle_df[vehicle.target_names]

X

,COMPACTNESS,CIRCULARITY,DISTANCE_CIRCULARITY,RADIUS_RATIO,PR.AXIS_ASPECT_RATIO,MAX.LENGTH_ASPECT_RATIO,SCATTER_RATIO,ELONGATEDNESS,PR.AXIS_RECTANGULARITY,MAX.LENGTH_RECTANGULARITY,SCALED_VARIANCE_MAJOR,SCALED_VARIANCE_MINOR,SCALED_RADIUS_OF_GYRATION,SKEWNESS_ABOUT_MAJOR,SKEWNESS_ABOUT_MINOR,KURTOSIS_ABOUT_MAJOR,KURTOSIS_ABOUT_MINOR,HOLLOWS_RATIO
0,95.0,48.0,83.0,178.0,72.0,10.0,162.0,42.0,20.0,159.0,176.0,379.0,184.0,70.0,6.0,16.0,187.0,197.0
1,91.0,41.0,84.0,141.0,57.0,9.0,149.0,45.0,19.0,143.0,170.0,330.0,158.0,72.0,9.0,14.0,189.0,199.0
2,104.0,50.0,106.0,209.0,66.0,10.0,207.0,32.0,23.0,158.0,223.0,635.0,220.0,73.0,14.0,9.0,188.0,196.0
3,93.0,41.0,82.0,159.0,63.0,9.0,144.0,46.0,19.0,143.0,160.0,309.0,127.0,63.0,6.0,10.0,199.0,207.0
4,85.0,44.0,70.0,205.0,103.0,52.0,149.0,45.0,19.0,144.0,241.0,325.0,188.0,127.0,9.0,11.0,180.0,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,93.0,39.0,87.0,183.0,64.0,8.0,169.0,40.0,20.0,134.0,200.0,422.0,149.0,72.0,7.0,25.0,188.0,195.0
842,89.0,46.0,84.0,163.0,66.0,11.0,159.0,43.0,20.0,159.0,173.0,368.0,176.0,72.0,1.0,20.0,186.0,197.0
843,106.0,54.0,101.0,222.0,67.0,12.0,222.0,30.0,25.0,173.0,228.0,721.0,200.0,70.0,3.0,4.0,187.0,201.0
844,86.0,36.0,78.0,146.0,58.0,7.0,135.0,50.0,18.0,124.0,155.0,270.0,148.0,66.0,0.0,25.0,190.0,195.0
845,85.0,36.0,66.0,123.0,55.0,5.0,120.0,56.0,17.0,128.0,140.0,212.0,131.0,73.0,1.0,18.0,186.0,190.0

,COMPACTNESS,CIRCULARITY,DISTANCE_CIRCULARITY,RADIUS_RATIO,PR.AXIS_ASPECT_RATIO,MAX.LENGTH_ASPECT_RATIO,SCATTER_RATIO,ELONGATEDNESS,PR.AXIS_RECTANGULARITY,MAX.LENGTH_RECTANGULARITY,SCALED_VARIANCE_MAJOR,SCALED_VARIANCE_MINOR,SCALED_RADIUS_OF_GYRATION,SKEWNESS_ABOUT_MAJOR,SKEWNESS_ABOUT_MINOR,KURTOSIS_ABOUT_MAJOR,KURTOSIS_ABOUT_MINOR,HOLLOWS_RATIO,Class
0,95.0,48.0,83.0,178.0,72.0,10.0,162.0,42.0,20.0,159.0,176.0,379.0,184.0,70.0,6.0,16.0,187.0,197.0,van
1,91.0,41.0,84.0,141.0,57.0,9.0,149.0,45.0,19.0,143.0,170.0,330.0,158.0,72.0,9.0,14.0,189.0,199.0,van
2,104.0,50.0,106.0,209.0,66.0,10.0,207.0,32.0,23.0,158.0,223.0,635.0,220.0,73.0,14.0,9.0,188.0,196.0,saab
3,93.0,41.0,82.0,159.0,63.0,9.0,144.0,46.0,19.0,143.0,160.0,309.0,127.0,63.0,6.0,10.0,199.0,207.0,van
4,85.0,44.0,70.0,205.0,103.0,52.0,149.0,45.0,19.0,144.0,241.0,325.0,188.0,127.0,9.0,11.0,180.0,183.0,bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,93.0,39.0,87.0,183.0,64.0,8.0,169.0,40.0,20.0,134.0,200.0,422.0,149.0,72.0,7.0,25.0,188.0,195.0,saab
842,89.0,46.0,84.0,163.0,66.0,11.0,159.0,43.0,20.0,159.0,173.0,368.0,176.0,72.0,1.0,20.0,186.0,197.0,van
843,106.0,54.0,101.0,222.0,67.0,12.0,222.0,30.0,25.0,173.0,228.0,721.0,200.0,70.0,3.0,4.0,187.0,201.0,saab
844,86.0,36.0,78.0,146.0,58.0,7.0,135.0,50.0,18.0,124.0,155.0,270.0,148.0,66.0,0.0,25.0,190.0,195.0,saab
845,85.0,36.0,66.0,123.0,55.0,5.0,120.0,56.0,17.0,128.0,140.0,212.0,131.0,73.0,1.0,18.0,186.0,190.0,van

,COMPACTNESS,CIRCULARITY,DISTANCE_CIRCULARITY,RADIUS_RATIO,PR.AXIS_ASPECT_RATIO,MAX.LENGTH_ASPECT_RATIO,SCATTER_RATIO,ELONGATEDNESS,PR.AXIS_RECTANGULARITY,MAX.LENGTH_RECTANGULARITY,SCALED_VARIANCE_MAJOR,SCALED_VARIANCE_MINOR,SCALED_RADIUS_OF_GYRATION,SKEWNESS_ABOUT_MAJOR,SKEWNESS_ABOUT_MINOR,KURTOSIS_ABOUT_MAJOR,KURTOSIS_ABOUT_MINOR,HOLLOWS_RATIO
0,95.0,48.0,83.0,178.0,72.0,10.0,162.0,42.0,20.0,159.0,176.0,379.0,184.0,70.0,6.0,16.0,187.0,197.0
1,91.0,41.0,84.0,141.0,57.0,9.0,149.0,45.0,19.0,143.0,170.0,330.0,158.0,72.0,9.0,14.0,189.0,199.0
2,104.0,50.0,106.0,209.0,66.0,10.0,207.0,32.0,23.0,158.0,223.0,635.0,220.0,73.0,14.0,9.0,188.0,196.0
3,93.0,41.0,82.0,159.0,63.0,9.0,144.0,46.0,19.0,143.0,160.0,309.0,127.0,63.0,6.0,10.0,199.0,207.0
4,85.0,44.0,70.0,205.0,103.0,52.0,149.0,45.0,19.0,144.0,241.0,325.0,188.0,127.0,9.0,11.0,180.0,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,93.0,39.0,87.0,183.0,64.0,8.0,169.0,40.0,20.0,134.0,200.0,422.0,149.0,72.0,7.0,25.0,188.0,195.0
842,89.0,46.0,84.0,163.0,66.0,11.0,159.0,43.0,20.0,159.0,173.0,368.0,176.0,72.0,1.0,20.0,186.0,197.0
843,106.0,54.0,101.0,222.0,67.0,12.0,222.0,30.0,25.0,173.0,228.0,721.0,200.0,70.0,3.0,4.0,187.0,201.0
844,86.0,36.0,78.0,146.0,58.0,7.0,135.0,50.0,18.0,124.0,155.0,270.0,148.0,66.0,0.0,25.0,190.0,195.0
845,85.0,36.0,66.0,123.0,55.0,5.0,120.0,56.0,17.0,128.0,140.0,212.0,131.0,73.0,1.0,18.0,186.0,190.0